input{
    width:100px;
    height:70px;
    font-size:50px;
    border-radius:10px;
    margin:8px;
    background-color: #000;
    color: #fff;
    border-style: none;
}
#myform{
    margin-left:170px;
    margin-right:17px;
}
h1{
    text-align:center;
    font-size:50px;
    margin-right:530px;
    margin-top:17px;
}
